.navbar{
    display: flex;
    align-items: center;
  
   justify-content: space-between;
    
}
.nav_ul{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.nav_ul li{
    display: flex;
    padding: 2vw;
    padding-left: 1vw;
}

.items{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.logo{
    width: 100px;
    height: 80px;
    padding-top: 10px;
   transform: translateX(-50%);
}
#title{
    opacity: 0;
    transition: 0.2s ease-in-out;
}
#icon{
    width: 25px;
    
}
#icon:hover ~ #title{
    opacity: 1;
}
/* @media screen and (min-width: 2000px) {
   
} */

@media screen and (max-width: 900px) {
    .navbar{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .logo{
        padding-top: 0px;
       transform: translateX(0%);
    }
}

@media screen and (max-width: 650px) {
    .logo{
        width: 80px;
       
    }
    #icon{
        width: 20px;
    }
    .nav_ul li{
        padding-top: 2vw;
        padding-left: 0vw;
    }
}